main {
    margin: 0;
    padding: 0;
}

#current-conditions {
    padding-left: 10px;
}

#submit {
    margin-top: 10px;
    width: 100%;
}

.cards {
    display: flex;
}

.day-card {
    background-color: blue;
    color: white;
    padding: 5px;
    margin-right: 10px;
}